# Reddit Sentiment Analysis Project

# Reddit API
praw

# Data Processing
lxml
pandas
textblob
datetime
nltk

# Visualization
plotly
streamlit

# Optional but useful (recommended)
python-dotenv   # for hiding Reddit API credentials in .env file
requests         # in case of additional API calls or error handling
beautifulsoup4   # optional, if you scrape or clean HTML content


